body {
  margin: 0;
  padding: 0;
  background-image: url(./norway.jpg);
  background-size: cover;
  color:rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-family: 'Solway', serif;

}



#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}